#SBT
lib_managed/
unit-test-output/
target/
releases/
src/test/fixtures/output/
input/
logs/
venv/



.DS_Store
.ensime
.ensime_cache
.snowflakeCredentials
derby.log
metastore_db
jars/
scripts/authenticate-cerebro.sh

.idea/
*.iml
coverage-error.log
build.sbt.skiptest
build.sbt.orig

ignore_this*

*.class
*.log
